.git/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp
config

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build

/.pytest_cache
/build
/dist
/venv
/samples
/docker_images
/run_locally.sh
/build.sh


venv
samples
.pytest_cache


