.git/

build
dist
*.egg-info
*.egg/
*.pyc
*.swp
config

.tox
.coverage
html/*
__pycache__

# Compiled Documentation
docs/_build

/.pytest_cache
/build
/dist
/venv
/samples

venv
samples
.pytest_cache


